@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800');
@charset "utf-8";

/* CSS Document */

body,
html {
    width: 100%;
    height: 100%;
}

/*setup*/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;

}


/*HEADER*/

.content-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/0001.jpg);
    background-size: 2600px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.content-header h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 37px;
    font-weight: 600!important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.ele {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 940px;
}

.ele2 {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 940px;
}


/*SECTION-ONE*/

.section-one {
    padding-top: 35px;
    padding-bottom: 50px;
}

.para-one {
    display: block;
    margin: 0 auto;
    max-width: 840px;
}

.form-one {
    margin-top: 20px;
}

.form-control {
    display: block;
    height: 50px;
    width: 100%;
    padding: 5px 0!important;
    margin: 15px 0 10px;
    line-height: 50px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #777;
    border: 1px solid #cacaca;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0, 1, 1, .02);
    background: -webkit-linear-gradient(top, rgba(0, 1, 1, .03) 0, rgba(255, 255, 255, .03) 100%) #fff;
    background: linear-gradient(to bottom, rgba(0, 1, 1, .03) 0, rgba(255, 255, 255, .03) 100%) #fff;
}

input[type=text],
input[type=email] {
    outline: 0;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    max-width: 100%;
    height: 62px;
}

.btn {
    border-radius: 0;
    font-size: 27px;
    font-weight: 500;
}

.but-def {
    width: 100%;
    position: relative;
    display: block;
    padding: 20px 0;
    line-height: 22px;
    font-family: inherit;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    color: #fefefe;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), inset 0 1px 0 0 rgba(0, 0, 0, .1), inset 0 2px 0 0 rgba(255, 255, 255, .5);
    background: -webkit-linear-gradient(top, #eb8a00 0, #faa700 100%) #faa700;
    background: linear-gradient(to bottom, #eb8a00 0, #faa700 100%) #faa700;
}

.but-def:hover {
    background: linear-gradient(to bottom, #faa700 0, #eb8a00 100%) #eb8a00;
}

.privacy {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    opacity: 0.5;
    color: #888;
    font-weight: 500;
    padding-top: 10px;
}


/*SECTION-TWO*/

.section-two {
    background-image: url(../img/0001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #000000;
}

.section-two h2 {
    font-weight: 400;
}

.step-graphic-style-1 {
    width: 100%;
    padding-left: 0;
}

ul {
    list-style: none;
}

p, .single-post-content li, #content_area li, .op-popup-button .default-button {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    color: #636363;
}

.step-graphic-style-1 li {
    display: block;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px!important;
    clear: both;
    border-radius: 6px;
}

.step-graphic-style-1 .step-graphic-style-1-number-container {
    float: left;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 3px solid #fff;
    box-sizing: border-box;
    text-align: center;
}

.step-graphic-style-1 .step-graphic-style-1-number {
    font-size: 32px;
    line-height: 43px;
    color: #fff;
    position: relative;
}

.step-graphic-style-1 p.heading {
    font-weight: 700;
    color: #fff;
    margin: 5px 0;
    padding-left: 70px;
}


/*CONTENTBONUSONE*/

.content-bonus-one {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-bonus-one,
h2 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    color: #444444;
}

.description {
    text-align: center;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    color: #636363;
}

.content-bonus-one,
h1 {
    text-align: center;
    font-weight: 400;
    color: #f18305;
}
